* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding-top: calc(50vh - 150px);

  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}

.ellipse {
  animation: ellipse 8s linear infinite;
}

@keyframes ellipse {
  100% {
    stroke: black;
  }
  80% {
    fill: rgb(124, 75, 164);
  }
}

@media (max-width: 1109px) {
  .container {
    padding-top: calc(50vh - 250px);
  }
}

@media (max-width: 550px) {
  .container {
    padding-top: calc(50vh - 430px);
  }
}